$screen-size-xs-start: 320px;
$screen-size-xs-end: 480px;
$screen-size-sm-start: 481px;
$screen-size-sm-end: 768px;
$screen-size-md-start: 769px;
$screen-size-md-end: 1024px;
$screen-size-lg-start: 1025px;
$screen-size-lg-end: 1200px;
$screen-size-xl-start: 1201px;