.table {
  background-color: #505050;
  border: 0.1rem solid #a0a0a0;
  border-radius: 0.2rem;
  padding: 1rem;
}

.table-cell {
  align-items: center;
  color: white;
  display: flex;
  width: 8rem;
  height: 3rem;
  padding: 0rem 0.5rem;
}

.table-head {
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 3rem;
  justify-content: flex-start;
  margin-right: 0.1rem;
  width: 8rem;
  text-transform: capitalize;
  padding: 0rem 0.5rem;
}

.table-head:hover {
  background-color: #656565;
}

.table-row {
  border-bottom: 0.002rem solid #a0a0a0;
}

#table-head-container {
  border-bottom: 0.1rem solid #a0a0a0;
  display: flex;
  flex-direction: row;
}