.table {
  background-color: var(--grey);
  color: var(--yellow);
  border-radius: 0.2rem;
  padding: 1rem;

  animation: fadein 0.3s;
  overflow-x: scroll;
}

.table-cell {
  align-items: center;
  display: flex;
  width: 30%;
  height: 3rem;
  padding: 0rem 0.5rem;
}

.table-cell:first-child {
  width: 40%;
}

.table-cell:nth-child(2) {
  width: 30%;
}

.table-cell:last-child {
  width: 30%;
}

.table-head {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  height: 3rem;
  justify-content: flex-start;
  margin-right: 0.1rem;
  width: 30%;
  text-transform: capitalize;
  padding: 0rem 0.5rem;
}

.table-head:first-child {
  width: 40%;
}

.table-head:nth-child(2) {
  width: 30%;
}

.table-head:last-child {
  width: 30%;
}

.table-head:hover {
  background-color: #656565;
}

.table-head--active {
  background-color: #ffffff80;
}

.table-head__icon {
  margin-right: 0.7rem;
}

.table-row {
  border-bottom: 0.002rem solid #a0a0a0;
  width: 100%;
}

.table-row:last-child {
  border-bottom: none;
}

#table-head-container {
  /* border-bottom: 0.1rem solid #a0a0a0; */
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}