#app-container {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
}

#star-wars-logo {
  align-self: center;
  margin: 0 auto;
  /* justify-self: center; */
}
