.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
}

#app-container {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
}

#app-container-skeleton {
  background-color: var(--black);
  display: grid;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;
}

.unmarked-link {
  color: var(--grey-light);
  text-decoration: underline;
}

.unmarked-link:focus {
  color: inherit;
  text-decoration: none;
}

.unmarked-link:hover {
  color: inherit;
  text-decoration: none;
}