:root {
  --black: #0E1111;
  --grey: #505050;
  --grey-dark: #303030;
  --grey-darker: #202020;
  --grey-light: #808080;
  --yellow: #FFE81F;
  --font-size-md: 2rem;
  --font-size-lg: 3rem;
  --font-size-xl: 5rem;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  
  --screen-size-xs-start: 320px;
  --screen-size-xs-end: 480px;
  --screen-size-sm-start: 481px;
  --screen-size-sm-end: 768px;
  --screen-size-md-start: 769px;
  --screen-size-md-end: 1024px;
  --screen-size-lg-start: 1025px;
  --screen-size-lg-end: 1200px;
  --screen-size-xl-start: 1201px;

  @media screen and (max-width: 768px) {
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 4rem;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik';
}

button {
  background-color: var(--yellow);
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  color: var(--grey);
  float: right;
  padding: 2rem;
}

p {
  color: var(--yellow);
  font-size: var(--font-size-md);
  text-align: justify;
}

select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: none;
  border-radius: 0.2rem;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--grey);
  color: var(--yellow);
  padding: 1rem;
  /* background-image: linear-gradient(to top, --yellow, --yellow 33%); */
}
select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select::-ms-expand {
  display: none;
}

tr {
  display: flex;
  width: 100%;
}

@keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadein {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeinout {
  0%   {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeinout {
  0%   {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeout {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeout {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}
